# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
## Folders
.settings/
build-NMS_Crafting/
Camtasia-NMS_Crafting/
Screenshots/
Web/
Readme_Release/
## Files
.bdd_dans_build-NMS_Crafting
*.xlsx
*.jpg

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.pdf
NMS_Crafting/nms_database.db.sql
